.nav-blue,
.navbar-nav .dropdown-menu
{
    background-color: blue !important;
}



.section-border{
    background: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #666;


}

.service-item{

    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    min-height: 350px;
    padding: 15px;
    flex-shrink: inherit;
}

.btn-toolbar{
    text-align: center;
}
.service-item h1{
    color: red;
}


.carousel-caption{
    position: relative;
    right: auto;
    left: auto;
    padding: 0px;
}
.slider-destop{
   display: flex;
    align-items: center;
    justify-content: center;
    width:  100vw;
    height:  100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

.slider-mobile{
    display: none;
    width: 100vw;
    height:  100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;

}

@media(max-width: 768px){
    .slider-mobile{
        display: block;
    }
    .slider-destop{
        display: none;
    }
}

/* background: url(../asset/neom-r4ZSR0cKJw8-unsplash.jpg);
background:-repeat:no-repeat !important;
background: size: cover !important;
background: position: center center !important; */
